Flask==0.9
Flask-RESTful==0.2.11
GitPython==0.3.2.RC1
MySQL-python==1.2.3
gitdb==0.5.4
httplib2==0.7.7
import-utils==0.0.1
iniparse==0.4
ipython==0.12
requests==1.1.0
virtinst==0.600.4
virtualenv==1.9.1
